@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
    width: 100%;
    padding: 0.75rem/* 12px */;
    @apply mt-2 mb-4 shadow-sm sm:text-sm rounded-lg focus:outline-none border border-transparent text-blue-darkest focus:ring-1 focus:ring-blue focus:border-blue
}

.input-avatar {
    width: 476px;
    height: 65px;
    font-size: large;
    @apply w-full border-blue p-3 text-blue-darkest rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-darkest focus:border-blue-dark
}

.card-container {
    text-align: -webkit-center;
    width: 534px; 
    height: 700px;
    @apply bg-yellow flex items-center justify-center border-4 border-blue-darkest shadow rounded-xl
}

.label-form {
    font-weight: 500;
    @apply text-blue-darkest text-left text-xl pb-3
}

.regis-avatar-img {   
    align-items: center;
    @apply bg-white-smoke rounded-full w-44 h-44 flex justify-center inset-y-0 my-5
} 

.label-upload {
    @apply text-blue-darkest py-14 px-14 rounded-full m-5 cursor-pointer bg-white-smoke font-medium 
}