@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
    width: 476px;
    height: 65px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 900;
    @apply bg-blue border-4 border-blue-dark rounded-lg text-yellow-light text-2xl
}

.button-full {
    @apply w-full px-4 py-2 flex justify-center
}

.input-avatar {
    width: 476px;
    height: 65px;
    font-size: large;
    @apply w-full border-blue p-3 text-blue-darkest rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-darkest focus:border-blue-dark
}

.card-container {
    text-align: -webkit-center;
    width: 534px; 
    height: 700px;
    @apply bg-yellow flex items-center justify-center border-4 border-blue-darkest shadow rounded-xl
}

.label-form {
    font-weight: 500;
    @apply text-blue-darkest text-left text-xl pt-10
}

.regis-avatar-img {   
    align-items: center;
    @apply bg-white-smoke rounded-full w-44 h-44 flex justify-center
}

.label-upload {
    @apply text-blue-darkest py-14 px-14 rounded-full m-5 cursor-pointer bg-white-smoke font-medium 
}